@import 'tailwindcss';
@import './design-tokens.css';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-react";

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-sans);
  line-height: var(--leading-normal);
}

.eddo-w-kanban {
  width: 20rem;
  font-family: var(--font-mono);
}
