@import 'tailwindcss';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-react";

:root {
  --background-color: #fff;
  --text-color: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(20, 20, 20);
    --text-color: rgb(230, 230, 230);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.eddo-w-kanban {
  width: 20rem;
  font-family: monospace;
}
