name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
      - uses: pnpm/action-setup@v4.1.0
        with:
          version: 10
          run_install: false
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - name: TypeScript check
        run: pnpm tsc:check
      - name: Run unit tests
        run: pnpm test:unit
      - name: Run integration tests
        env:
          CI: true
        run: pnpm test:integration
      - name: Run e2e tests
        env:
          CI: true
        run: pnpm test:e2e
      - name: Lint
        run: pnpm lint
      - name: Format check
        run: pnpm lint:format
